# Scenario-Based Question:
You are working as a Data Analyst, and your manager asks you to process some tabular data from an HTML table on a webpage. You need to:

1. Create an empty DataFrame.
2. Extract a basic dataset from an HTML table using pd.read_html and store it in a DataFrame.
3. Specify column names for better readability.
4. Rename a column to improve clarity.
5. Add a new column at a specific location with default values.
6. Drop an unnecessary column from the dataset.
7. Append a new row to the DataFrame.
8. Drop a specific row from the DataFrame.
9. Update a specific rowâ€™s value.
10. Perform basic operations, including:
    * head(), tail(), info(), describe()
    * sum(), min(), max(), std(), mean(), mode()
11. Subset rows, columns, and both.
12. Subset using labels (loc) and positions (iloc).
13. Filter the DataFrame using:
    * A single condition.
    * Multiple conditions.
14. Print all outputs at each step.

Now, implement the solution in Python using pandas:

In [1]:
import pandas as pd

In [10]:
from IPython.display import display, HTML
display(HTML("<style>:root { --jp-notebook-max-width: 100% !important; }</style>"))
display(HTML("<style>.container { width:100% !important; }</style>"))
display(HTML("<style>.output_result { max-width:100% !important; }</style>"))
display(HTML("<style>.prompt { display:none !important; }</style>"))

In [11]:
# 1. Create an empty DataFrame
df1 = pd.DataFrame()
print("Empty DataFrame:\n", df1)

Empty DataFrame:
 Empty DataFrame
Columns: []
Index: []

In [12]:

# 2. Extract a sample dataset from an online HTML table
url = "https://www.w3schools.com/html/html_tables.asp"  # Example website with an HTML table
df_list = pd.read_html(url)  # Extract tables
df1 = df_list[0]  # Selecting the first table
print("\nExtracted DataFrame:\n", df1)

Extracted DataFrame:
                         Company           Contact  Country
0           Alfreds Futterkiste      Maria Anders  Germany
1    Centro comercial Moctezuma   Francisco Chang   Mexico
2                  Ernst Handel     Roland Mendel  Austria
3                Island Trading     Helen Bennett       UK
4  Laughing Bacchus Winecellars   Yoshi Tannamuri   Canada
5  Magazzini Alimentari Riuniti  Giovanni Rovelli    Italy

In [13]:
# 3. Specify or rename column names
df1.columns = ["Company", "Contact", "Country"]
print("\nUpdated Column Names:\n", df1)

Updated Column Names:
                         Company           Contact  Country
0           Alfreds Futterkiste      Maria Anders  Germany
1    Centro comercial Moctezuma   Francisco Chang   Mexico
2                  Ernst Handel     Roland Mendel  Austria
3                Island Trading     Helen Bennett       UK
4  Laughing Bacchus Winecellars   Yoshi Tannamuri   Canada
5  Magazzini Alimentari Riuniti  Giovanni Rovelli    Italy

In [14]:

# 4. Rename a column
df1.rename(columns={"Company": "Companys"}, inplace=True)
print("\nRenamed Column:\n", df1)

Renamed Column:
                        Companys           Contact  Country
0           Alfreds Futterkiste      Maria Anders  Germany
1    Centro comercial Moctezuma   Francisco Chang   Mexico
2                  Ernst Handel     Roland Mendel  Austria
3                Island Trading     Helen Bennett       UK
4  Laughing Bacchus Winecellars   Yoshi Tannamuri   Canada
5  Magazzini Alimentari Riuniti  Giovanni Rovelli    Italy

In [15]:
# 5. Add a new column at a specific location (e.g., at index 2)
df1.insert(2, "Revenue", [50, 60, 55, 80, 45, 70])  # Example values
print("\nDataFrame after inserting a new column:\n", df1)

DataFrame after inserting a new column:
                        Companys           Contact  Revenue  Country
0           Alfreds Futterkiste      Maria Anders       50  Germany
1    Centro comercial Moctezuma   Francisco Chang       60   Mexico
2                  Ernst Handel     Roland Mendel       55  Austria
3                Island Trading     Helen Bennett       80       UK
4  Laughing Bacchus Winecellars   Yoshi Tannamuri       45   Canada
5  Magazzini Alimentari Riuniti  Giovanni Rovelli       70    Italy

In [16]:
# 5. Add a new column at the end
df1["Population"]= [5, 6, 15, 8, 4, 7]  # Example values
print("\nDataFrame after inserting a new column:\n", df1)

DataFrame after inserting a new column:
                        Companys           Contact  Revenue  Country  \
0           Alfreds Futterkiste      Maria Anders       50  Germany
1    Centro comercial Moctezuma   Francisco Chang       60   Mexico
2                  Ernst Handel     Roland Mendel       55  Austria
3                Island Trading     Helen Bennett       80       UK
4  Laughing Bacchus Winecellars   Yoshi Tannamuri       45   Canada
5  Magazzini Alimentari Riuniti  Giovanni Rovelli       70    Italy

   Population
0           5
1           6
2          15
3           8
4           4
5           7

In [17]:
# 6. Drop an unnecessary column
df1.drop(columns=["Population"], inplace=True)
print("\nDataFrame after dropping a column:\n", df1)

DataFrame after dropping a column:
                        Companys           Contact  Revenue  Country
0           Alfreds Futterkiste      Maria Anders       50  Germany
1    Centro comercial Moctezuma   Francisco Chang       60   Mexico
2                  Ernst Handel     Roland Mendel       55  Austria
3                Island Trading     Helen Bennett       80       UK
4  Laughing Bacchus Winecellars   Yoshi Tannamuri       45   Canada
5  Magazzini Alimentari Riuniti  Giovanni Rovelli       70    Italy

In [18]:
print(df1)

                       Companys           Contact  Revenue  Country
0           Alfreds Futterkiste      Maria Anders       50  Germany
1    Centro comercial Moctezuma   Francisco Chang       60   Mexico
2                  Ernst Handel     Roland Mendel       55  Austria
3                Island Trading     Helen Bennett       80       UK
4  Laughing Bacchus Winecellars   Yoshi Tannamuri       45   Canada
5  Magazzini Alimentari Riuniti  Giovanni Rovelli       70    Italy

In [20]:
# 7. Append a new row
new_row = pd.DataFrame([["Tesla Inc.", "Elon Musk", 50,"USA"]], columns=df1.columns)
df1 = pd.concat([df1, new_row], ignore_index=True)
print("\nDataFrame after appending a new row:\n", df1)

DataFrame after appending a new row:
                        Companys           Contact  Revenue  Country
0           Alfreds Futterkiste      Maria Anders       50  Germany
1    Centro comercial Moctezuma   Francisco Chang       60   Mexico
2                  Ernst Handel     Roland Mendel       55  Austria
3                Island Trading     Helen Bennett       80       UK
4  Laughing Bacchus Winecellars   Yoshi Tannamuri       45   Canada
5  Magazzini Alimentari Riuniti  Giovanni Rovelli       70    Italy
6                    Tesla Inc.         Elon Musk       50      USA

In [21]:
# 8. Drop a row (e.g., dropping the last row)
df1.drop(df1.index[-1], inplace=True)
print("\nDataFrame after dropping a row:\n", df1)

DataFrame after dropping a row:
                        Companys           Contact  Revenue  Country
0           Alfreds Futterkiste      Maria Anders       50  Germany
1    Centro comercial Moctezuma   Francisco Chang       60   Mexico
2                  Ernst Handel     Roland Mendel       55  Austria
3                Island Trading     Helen Bennett       80       UK
4  Laughing Bacchus Winecellars   Yoshi Tannamuri       45   Canada
5  Magazzini Alimentari Riuniti  Giovanni Rovelli       70    Italy

In [22]:
# 9. Update a specific row value (e.g., update revenue of first company)
df1.loc[0, "Revenue"] = 95
print("\nDataFrame after updating a row value:\n", df1)

DataFrame after updating a row value:
                        Companys           Contact  Revenue  Country
0           Alfreds Futterkiste      Maria Anders       95  Germany
1    Centro comercial Moctezuma   Francisco Chang       60   Mexico
2                  Ernst Handel     Roland Mendel       55  Austria
3                Island Trading     Helen Bennett       80       UK
4  Laughing Bacchus Winecellars   Yoshi Tannamuri       45   Canada
5  Magazzini Alimentari Riuniti  Giovanni Rovelli       70    Italy

In [23]:
# 10. Perform basic operations
print("\nHead:\n", df1.head())
print("\nTail:\n", df1.tail())
print("\nInfo:")
print(df1.info())
print("\nDescribe:\n", df1.describe())

Head:
                        Companys          Contact  Revenue  Country
0           Alfreds Futterkiste     Maria Anders       95  Germany
1    Centro comercial Moctezuma  Francisco Chang       60   Mexico
2                  Ernst Handel    Roland Mendel       55  Austria
3                Island Trading    Helen Bennett       80       UK
4  Laughing Bacchus Winecellars  Yoshi Tannamuri       45   Canada

Tail:
                        Companys           Contact  Revenue  Country
1    Centro comercial Moctezuma   Francisco Chang       60   Mexico
2                  Ernst Handel     Roland Mendel       55  Austria
3                Island Trading     Helen Bennett       80       UK
4  Laughing Bacchus Winecellars   Yoshi Tannamuri       45   Canada
5  Magazzini Alimentari Riuniti  Giovanni Rovelli       70    Italy

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Companys  6 non-null      object
 1   Contact   6 non-null      object
 2   Revenue   6 non-null      int64
 3   Country   6 non-null      object
dtypes: int64(1), object(3)
memory usage: 324.0+ bytes
None

Describe:
          Revenue
count   6.000000
mean   67.500000
std    18.096961
min    45.000000
25%    56.250000
50%    65.000000
75%    77.500000
max    95.000000

In [24]:

print("\nSum:\n", df1["Revenue"].sum())
print("\nMin:\n", df1["Revenue"].min())
print("\nMax:\n", df1["Revenue"].max())
print("\nStd Dev:\n", df1["Revenue"].std())
print("\nMean:\n", df1["Revenue"].mean())
print("\nMode:\n", df1["Revenue"].mode())

Sum:
 405

Min:
 45

Max:
 95

Std Dev:
 18.096961070853858

Mean:
 67.5

Mode:
 0    45
1    55
2    60
3    70
4    80
5    95
Name: Revenue, dtype: int64

In [26]:
# 11. Subsetting rows
print("\nSubset Rows (First 3 rows):\n", df1.iloc[:3])

Subset Rows (First 3 rows):
                      Companys          Contact  Revenue  Country
0         Alfreds Futterkiste     Maria Anders       95  Germany
1  Centro comercial Moctezuma  Francisco Chang       60   Mexico
2                Ernst Handel    Roland Mendel       55  Austria

In [27]:
# 12. Subsetting columns
print("\nSubset Columns (Company Name and Revenue):\n", df1[["Companys", "Revenue"]])

Subset Columns (Company Name and Revenue):
                        Companys  Revenue
0           Alfreds Futterkiste       95
1    Centro comercial Moctezuma       60
2                  Ernst Handel       55
3                Island Trading       80
4  Laughing Bacchus Winecellars       45
5  Magazzini Alimentari Riuniti       70

In [28]:
# 13. Subsetting rows and columns
print("\nSubset Specific Rows and Columns:\n", df1.loc[1:3, ["Companys", "Revenue"]])

Subset Specific Rows and Columns:
                      Companys  Revenue
1  Centro comercial Moctezuma       60
2                Ernst Handel       55
3              Island Trading       80

In [31]:
# 14. Subsetting by label
print("\nSubsetting by Label:\n", df1.loc[df1["Country"] == "Canada"])

Subsetting by Label:
                        Companys          Contact  Revenue Country
4  Laughing Bacchus Winecellars  Yoshi Tannamuri       45  Canada

In [32]:
# 15. Subsetting by position
print("\nSubsetting by Position:\n", df1.iloc[2:5, 1:3])

Subsetting by Position:
            Contact  Revenue
2    Roland Mendel       55
3    Helen Bennett       80
4  Yoshi Tannamuri       45

In [37]:
# 16. Filtering DataFrame
# Single condition: Revenue greater than 60
filtered_df1 = df1[df1["Revenue"] > 60]
print("\nFiltered DataFrame (Revenue > 60):\n", filtered_df1)

Filtered DataFrame (Revenue > 60):
                        Companys           Contact  Revenue  Country
0           Alfreds Futterkiste      Maria Anders       95  Germany
3                Island Trading     Helen Bennett       80       UK
5  Magazzini Alimentari Riuniti  Giovanni Rovelli       70    Italy

In [38]:
# 16. Filtering DataFrame
# multiple condition: Revenue greater than 60 and country either UK or Italy

filtered_df2 = df1[(df1["Revenue"] > 60) & (df1["Country"].isin(["UK", "Italy"]))]
print("\nFiltered DataFrame (Revenue > 60):\n", filtered_df2)

Filtered DataFrame (Revenue > 60):
                        Companys           Contact  Revenue Country
3                Island Trading     Helen Bennett       80      UK
5  Magazzini Alimentari Riuniti  Giovanni Rovelli       70   Italy

In [39]:
# 16. Filtering DataFrame
# multiple condition: Revenue greater than 60 and country either UK or Italy
filtered_df3 = df1[(df1["Revenue"] > 60) & ((df1["Country"] == "UK") | (df1["Country"] == "Italy"))]
print("\nFiltered DataFrame (Revenue > 60):\n", filtered_df3)

Filtered DataFrame (Revenue > 60):
                        Companys           Contact  Revenue Country
3                Island Trading     Helen Bennett       80      UK
5  Magazzini Alimentari Riuniti  Giovanni Rovelli       70   Italy